@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

@font-face {
  font-family: 'Jackgo';
  src: url('fonts/Jackgo-8OOaA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-family: 'Jackgo', sans-serif;
  font-size: 140px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  padding: 5;
  opacity: 0; /* Initially invisible */
  transform: translateY(20px); /* Slight movement */
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
}

.letter-button-end {
  font-family: 'Manrope', sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 0);
  border: none;
  background: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.3s ease; /* Ensure smooth transform and color transition */
  will-change: transform, color; /* Optimize for animation */
  opacity: 0; /* Initially invisible */
  transform: translateY(20px); /* Slight movement */
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s; /* Delay to ensure button fades after h1 */
}

.letter-button-end:hover {
  transform: scale(1.08);
  color:rgb(12, 12, 188);
}

.letter-button-end:active {
  transform: scale(0.95); /* Slight decrease in size */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none; /* Ensures no transform conflicts */
  }
}


svg {
  width: 80vw;
  height: 40vh;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: -1; 
}

path {
  fill: transparent;
}

text {
  font-family: 'Jackgo', sans-serif;
  font-size: 40px; 
  fill: #fff; 
  stroke: #fff;
  font-weight: bold;
}

#text-1 {
  font-family: 'Manrope', serif;
  color: #fff;
}

#text-2 {
  font-family: 'Jackgo', sans-serif;
  color: #fff;
}

.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-out;
  z-index: 9999;
}

