@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { 
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Allows scrolling */
  font-family: 'Roboto', sans-serif !important; 
  color: white;
  font-size: 9px;
}

#magic {
  position: fixed; /* Keeps it in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.playground {
  position: relative; /* Allows content to flow normally */
  width: 100%;
  height: auto;
  min-height: 200vh; /* Makes sure there's enough content to scroll */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bottomPosition {
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  color: black; 
  text-align: center;
  margin: 0;
  padding: 0;
}




.minText{
  
  font-size: 14px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}


.letter-button {
  font-family: 'Roboto', sans-serif; 
  font-size: 50px; 
  width: auto; 
  height: auto; 
  color: white; 
  border: none; 
  background: none;
  padding: 0; 
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

section {
  position: relative;
  z-index: 1;
}


.letter-button-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px; 
  width: auto;
  height: auto;
  color: rgb(0, 0, 0); 
  border: none; 
  background: none;
  padding: 0; 
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}