@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body { 
  
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto' !important; 
  color: white;
  font-size: 9px;
}

#magic {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }  




.playground{

  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.bottomPosition{

  text-align: center;
  margin-bottom: 50px;
  
}
.minText{
  
  font-size: 14px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: black; 
  justify-content: center;
}

.letter-button {
  font-family: 'Roboto', sans-serif; /* Use 'Roboto' as per your import */
  font-size: 50px; 
  width: auto; /* Let the width adjust to the content (the letter) */
  height: auto; /* Let the height adjust to the content (the letter) */
  color: white; 
  border: none; 
  background: none; /* No background */
  padding: 0; /* Remove any extra padding */
  display: inline-flex; /* Aligns the content horizontally */
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

section {
  position: relative;
  z-index: 1;
}


.letter-button-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px; 
  width: auto;
  height: auto;
  color: rgb(0, 0, 0); 
  border: none; 
  background: none; /* No background */
  padding: 0; /* Remove any extra padding */
  display: inline-flex; /* Aligns the content horizontally */
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

